<!DOCTYPE html>
<html lang="en">

<head>
   <title>SmartDreamDevice</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="myCss.css" />
</head>

<body>
   <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">SmartDream</a>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
         <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
         <ul class="navbar-nav">
            <li class="nav-item">
               <a class="nav-link active" href="#">SmartDevice</a>
            </li>
         </ul>
      </div>
   </nav>
   <div id="app" class="container col-12">
      <br />
      <div class="col-md-6 col-12 offset-md-3">
         <button class="btn btn-primary col-12" v-on:click="PostOpenModal" type="button" data-toggle="modal"
            data-target="#smartDeviceModal">Create a new smart device</button>
         <br />
         <br />
         <label>Smart device identifier<span class="required">*</span>:</label>
         <input type="text" class="form-control" id="SmartDeviceUID">
         <br />
         <button class="btn btn-primary col-12" v-on:click="GetSmartDevice" type="button">Find a smart device</button>
      </div>
      <br />
      <br />
      <span class="col-md-6 col-12 offset-md-3 error">{{ error }}</span>
      <footer class="container-fluid text-center col-12">
         <p>&copy; DomoSnap 2021</p>
      </footer>
      <div class="modal fade" id="smartDeviceModal" tabindex="-1" role="dialog" aria-labelledby="smartDeviceModalLabel"
         aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="smartDeviceModalLabel">Smart Device</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="form-group row">
                     <label for="idSmartDevice" class="col-sm-2 col-form-label">Identifier:</label>
                     <input v-if="isAlreadyCreated === true" type="text" class="col-sm-9 form-control"
                        id="idSmartDevice" required readonly>
                     <input v-else type="text" class="col-sm-9 form-control" id="idSmartDevice">
                  </div>
                  <div class="form-group row">
                     <label for="uri" class="col-sm-2 col-form-label">Address<span class="required">*</span>:</label>
                     <input v-if="isAlreadyCreated === true" type="text" class="col-sm-9 form-control" id="uri"
                        required readonly>
                     <input v-else type="text" class="col-sm-9 form-control" id="uri">
                  </div>
                  <div class="form-group row" style="display: none;">
                     <label for="type" class="col-sm-2 col-form-label">Type<span class="required">*</span>:</label>
                     <input v-if="isAlreadyCreated === true" type="text" class="col-sm-9 form-control"
                        id="type" required readonly>
                     <input v-else type="text" class="col-sm-9 form-control" id="type">
                  </div>
                  <div class="form-group row">
                     <label for="active" class="col-sm-2 col-form-label">Is the smart device active:</label>
                     <input type="checkbox" id="active" value="active" checked>
                  </div>
                  <label for="externalId" class="col-sm-2 col-form-label">Lists of measures<span
                        class="required">*</span>:</label>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th scope="col">key</th>
                              <th scope="col">type</th>
                              <th scope="col">description</th>
                              <th scope="col"><button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#registerModal">+</button></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr v-for="register in storedRegister" v-bind:key="storedRegister.key">
                              <td style="white-space:nowrap">{{register.key}}</td>
                              <td style="white-space:nowrap">{{register.type}}</td>
                              <td style="white-space:nowrap">{{register.description}}</td>
                              <td><button v-on:click="DeleteRegister(register.id,register.key)" type="button"
                                    class="btn btn-danger">Delete</button></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <span class="error">{{ errorModel }}</span>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-if="isAlreadyCreated === false" type="button" class="btn btn-primary"
                     v-on:click="PostSmartDevice">Create </button>
                  <button V-else type="button" class="btn btn-danger" v-on:click="DeleteSmartDevice">Delete</button>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
         aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="registerModalLabel">Register</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="form-group row">
                     <label for="key" class="col-sm-2 col-form-label">Key<span class="required">*</span>:</label>
                     <input type="text" class="col-sm-9 form-control" id="key">
                  </div>
                  <div class="form-group row">
                     <label for="typeMeasure" class="col-sm-2 col-form-label">Type<span
                           class="required">*</span>:</label>
                     <input type="text" class="col-sm-9 form-control" id="typeMeasure">
                  </div>
                  <div class="form-group row">
                     <label for="description" class="col-sm-2 col-form-label">Description<span
                           class="required">*</span>:</label>
                     <input type="text" class="col-sm-9 form-control" id="description">
                  </div>
                  <span class="error">{{ errorModel }}</span>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" v-on:click="PostRegister">Create</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <script src="keycloak.js" type="text/javascript"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="Security.js" type="text/javascript"></script>
   <script src="ControleurSmartDevice.js" type="text/javascript"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
   </script>
</body>

</html>