<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="smartDeviceModalLabel">Smart Device</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form #deviceForm="ngForm">
      <div class="modal-body">
        <div class="form-group row">
          <mat-form-field class="example-full-width">
            <mat-label>Identifier</mat-label>
            <input matInput id="idSmartDevice" name="idSmartDevice" [(ngModel)]="smartdevice.id" (ngModelChange)="checkId()" required>
            <mat-error *ngIf="idExists">ID already exists, please choose another one</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group row">
          <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput id="uri" name="uri" [(ngModel)]="smartdevice.uri" required #uri="ngModel">
            <mat-error *ngIf="uri.invalid && (uri.dirty || uri.touched)">Address is required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-group row">
          <mat-form-field class="example-full-width">
            <mat-label>Type</mat-label>
            <mat-select
              id="type"
              name="type"
              [(ngModel)]="smartdevice.type"
              required
              #type="ngModel">
              <mat-option *ngFor="let type of deviceTypes" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="type.invalid && (type.dirty || type.touched)">
              Type is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group row">
          <label for="active" class="col-sm-2 col-form-label" i18n>Is the smart device active:</label>
          <input type="checkbox" id="active" value="active" name="active" [(ngModel)]="smartdevice.active" >
        </div>



        <label class="col-sm-2 col-form-label" i18n>Lists of measures<span
          class="required">*</span>:</label>


        <span class="error"></span>
      </div>

    </form>

    <form [formGroup]="measureForm">
    <div class="table-responsive" >
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">key</th>
          <th scope="col">type</th>
          <th scope="col">description</th>
          <th scope="col"  ><button type="button" class="btn btn-primary" (click)="addMeasure()" >+</button></th>
        </tr>
        </thead>

        <tbody formArrayName="measures">
        <tr *ngFor="let measure of measures.controls; let i = index" [formGroupName]="i">
          <td><input formControlName="key" class="form-control" id="key" placeholder="Key"></td>
          <td><input formControlName="type" class="form-control" id="typeme" placeholder="Type"></td>
          <td><input formControlName="description" class="form-control" id="description" placeholder="Description"></td>
          <td><button type="button" class="btn btn-danger" (click)="MeasureDelete(i)" i18n>Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>

    </form>

    <div class="modal-footer">
      <button  type="submit" class="btn btn-primary"
               (click)="Save()" [disabled]="deviceForm.invalid" i18n>Save</button>
      <a [routerLink]="['/device']" class="btn btn-secondary" i18n>Cancel</a>

    </div>
  </div>
</div>
