
<div class="table-responsive" class="col-md-6 col-12 offset-md-3">

  <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
  </div>

  <div>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col"> Adresse (uri)</th>
        <th scope="col">type</th>
        <th scope="col">active</th>
        <th scope="col">status</th>
        <th scope="col">measure</th>
        <th scope="col">
          <button (click)="createDevice()" class="btn btn-primary" i18n>Create Device</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let smartdevice of smartdeviceList" (click)="onSelect(smartdevice)">
        <td style="white-space:nowrap">{{smartdevice.uri}}</td>
        <td style="white-space:nowrap">{{smartdevice.type}}</td>
        <td style="white-space:nowrap">{{smartdevice.active}}</td>
        <td *ngIf="smartdevice.status !== undefined" class="status-cell">
          <ng-container>
            <img *ngIf="smartdevice.status === 'true'" [src]="'assets/img/lightAA.png'" alt="Light On" class="status-image" >
            <img *ngIf="smartdevice.status === 'false'" [src]="'assets/img/lightEE.png'" alt="Light Off" width="75" height="75">
          </ng-container>
        </td>
        <td *ngIf="smartdevice.measures && smartdevice.measures.length > 0" style="white-space:nowrap">
          <ul>
            <li *ngFor="let measure of smartdevice.measures">
              Clé: {{ measure.key }}, Type: {{ measure.type }}, Description: {{ measure.description }}
            </li>
          </ul>
        </td>
        <td *ngIf="!smartdevice.measures || smartdevice.measures.length === 0" style="white-space:nowrap">No measures available</td>
        <td><button type="button" class="btn btn-secondary" (click)="editDevice(smartdevice)" i18n> Edit </button>     </td>
        <td><button type="button"
                    class="btn btn-danger" (click)="onDelete(smartdevice)" i18n>Delete</button></td>


      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #empty>
    <div class="spinner-border" role="status" [hidden]="!isWaitingResponse">
      <span class="sr-only">Loading...</span>
    </div>
    <h2>No races.</h2> <button (click)="refreshRaces()" class="btn btn-primary">Refresh List</button>
  </ng-template>




</div>
