    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Domosnap</a>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
         <ul class="navbar-nav">
            <li class="nav-item">
               <a class="nav-link active" [routerLink]="['/device']" >SmartDevice</a>
            </li>
         </ul>

          <button type="button" class="btn btn-default navbar-btn navbar-right" (click)="logout()">Logout</button>
      </div>


      <div class="collapse .navbar-right" id="logout">
         <ul class="navbar-nav navbar-right">
            <li class="nav-item navbar-right">
               <a class="nav-link active" href="logout()">Logout</a>
            </li>
         </ul>
      </div>

   </nav>


    <router-outlet></router-outlet>



    <footer class="container-fluid text-center col-12">
      <p>&copy; DomoSnap 2023</p>
   </footer>

   <script src="keycloak.js" type="text/javascript"></script>
   <script src="Security.js" type="text/javascript"></script>
