<br />
<div class="col-md-6 col-12 offset-md-3">
   <button class="btn btn-primary col-12" v-on:click="PostOpenModal" type="button" data-toggle="modal"
      data-target="#smartDeviceModal">Create a new smart device</button>
   <br />
   <br />
   <label>Smart device identifier<span class="required">*</span>:</label>
   <input type="text" class="form-control" id="SmartDeviceUID">
   <br />
   <button class="btn btn-primary col-12" v-on:click="GetSmartDevice" type="button">Find a smart device</button>
</div>
<br />
<br />